body {
    max-width: 1400px;
    font-family: 'Open Sans';
}

.header {
background-color: #0284c7;
display: flex;
gap: 30px;
color: #fafafa;

}

.header-1 {
   margin-left: 20%;
   margin-right: 20%;
}

header {
   position: sticky;
   top: 0px;
   left: 0px;
   right: 0px;
}

.dentoplus {
    padding-right: 20%;
    padding-left: 20%;
}
.department {
    padding-right: 20%;
}

.hero-1 {
   margin-left: 10%;
   
}

.hero {
 background-image: url(hero.png);
 max-width: 1400px;
min-width: 600px;
 background-size: cover;

}

.title3 {
    display: flex;
    gap: 10px;
    font-size: 55px;
    font-weight: 500px;
    max-width: 60%;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-top: 70px;
}

.title2 {
    color: #075985;
}

.title1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
 .text1 {
    font-size: 20px;
    max-width: 55%;
    padding-left: 10%;
    padding-top: 60px;
    color: #075985;
 }

 .button1 {
    background-color: #0ea5e9;
    color: #fafafa;
    text-align: center;
    max-width: 600px;
    min-width: 200px;
    max-height: 60px;
    min-height: 30px;
    margin-left: 10%;
   margin-top: 40px;
   margin-bottom: 40px;
   border-radius: 10px;
   border-color: #0ea5e9 ;
 }

 .icon {
   font-size: 100px;
   color: #bae6fd;
   padding-top: 5px;
 }

 .services3 {
    background-color: #0369a1;
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
    
 }

 .service {
   max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-radius: 20px;
    
 }

 .text2 {
    background-image: url(background-1.png);
 }

 .title4 {
    color: #0369a1;
    text-align: center;
    font-size: 30px;
    padding: 40px;
    font-weight: 600;
 }

 .text2 {
    display: flex;
    
    flex-direction: column;
 }

 .text3 {
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
 }

 .button2 {
    margin-left: 60%;
    margin-right: 20%;
    margin-bottom: 40px;
 }




 .peoples {
    
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    box-shadow: #a3a3a3;
    
    width: calc((100%-10px)/2);
    margin-bottom: 20px;
 }

 .name {
    display: flex;
 }

 .name-text {
    display: flex;
    flex-direction: column;
    padding: 5px;
 }

 .title-name {
  color: #0369a1;
  font-size: 20px;
  
 }

 .peoples-reviews {
    font-size: 10px;
    
 }

 .revieves {
    gap: 10px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    
 }

 .client {
    padding: 5px;
 }

 .adress {
    background-image: url(map-background.png);
 }

 .adress-contain {
    border: 3px solid #0284c7;
    border-radius: 10px;
    text-align: center;
    background-color: #fafafa;
    width: calc((100%-10px*2)/3);
 }

 .map {
    color: #0284c7;
    padding: 10px;
 }

 .work {
    color: #0c4a6e;
 }

 .telephone {
    color: #0c4a6e;
    padding-top: 20px;
    padding-bottom: 10px;
 }

 .all-adress {
    display: flex;
    gap: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom:  40px;
 }

 .icon-info {
    width: 16px;
    height: 16px;
    padding-right: 10px;
 }

 .contacts {
   background-color: #e0f2fe;
   font-size: 12px;
 }

 .contacts-1{
   margin-left: 20%;
   margin-right: 20%;
 }

 .age {
   padding: 20px 0px 20px 0px;
 }

 .adress-3 {
   padding: 0px 0px 60px 0px;
 }

 .contacts-2 {
   display: flex;
   justify-content: space-between;
   gap: 40px;
   
 }

 .facebook-icon {
   width: 16px;
   height: 16px;
   
 }

 .facebook {
   padding: 14px 0px 20px 0px;
 }

 .phone-icon {
   width: 16px;
   height: 16px;
   padding-right: 5px;
 }

 .contacts-3 {
   display: flex;
   justify-content: center;
   gap: 35px;
 }

 .email-icon{
   width: 16px;
   height: 16px;
   padding-right: 5px;
 }

 .politics {
   margin-left:57% ;
   
 }

 .location1 {
   color: #0284c7;
 }




 .h1-2 {
   color: #0369a1;
   text-align: left;
   font-size: 30px;
   padding: 40px;
   margin-left: 17%;
   font-weight: 600;
}

.treatment {
   display: flex;
   margin-left: 20%;
    margin-right: 20%;
   gap: 5px;
   padding-bottom: 60px;
}

.karies {
   width: 60%;
   padding: 10px;
}

.patient {
   width: 20%;
}

.patient1 {
   object-fit: cover;
   max-width: 320px;
   border-radius: 10px;
}

.one-text {
   padding-bottom: 20px;

}

.contain{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   padding-bottom: 80px;
}

.container-4 {
   padding:15px;
   width: 60%;
   margin-left: 21%;
   margin-right: 20%;
   font-size: 14px;
   color: #0369a1;
   font-weight: 600;

}

.contain-1 {
   background-color:  #e0f2fe;
   border-radius: 5px;
}

.contain-2 {
   background-color:   #7dd3fc;
   border-radius: 5px;
}

.empty {
   padding: 60px;
}

.text4 {
   text-align: center;
   margin-left: 20%;
   margin-right: 20%;
}

.form-1 {
   background-color: #e0f2fe;
   width: 60%;
   margin-left: 20%;
   margin-right: 20%;
   padding: 15px;
   margin-top: 40px;
   border-radius: 10px;
   color: #a3a3a3;
   margin-bottom: 40px;
}

.img-doctor {
   border-radius: 10px;

  width: 90%;
}

.doctors {
   display: flex;
   margin-left: 20%;
   margin-right: 20%;
   font-size: 14px;
   text-align: center;
   padding-bottom: 60px;
   gap: 5px;
   
}

.doctor-6 {
   display: flex;
   flex-direction: column;
   width: calc((100%-10px*2)/3);
}
.stomatologist {
   font-weight: 600;
   padding: 10px;
}

.button3 {
   background-color: white;
    color: #0284c7;
    border-color: #0284c7;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
}

.doctors-2 {
   display: flex;
   margin-left: 20%;
   margin-right: 20%;
   font-size: 14px;
   text-align: center;
   padding-bottom: 60px;
   gap: 5px;
}